.head{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50px;
    background-color: black;
    justify-content:space-between;



}

.text-white{
    margin-top: 10px;
    margin-left: 762px;
    font-weight: bolder;

}
/* .login-user h6{
    text-decoration: solid rgb(173, 17, 17);
    margin-top: 10px;
    margin-left: 762px;
} */
.nav{
    
    align-items: center;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    font-weight: bold;
}
.nav li{
    float: left;
    color: white;
    margin-top:13px;
    margin-left: 34px;
    

}
.nav li a{
    text-decoration: none;
    color: white;
    transition: all linear 0.3s;
    
}
header ul{
    
    list-style-type: none;
    margin-left: 33px;
}


.right-side-bar{
    display: flex;
    margin-right: 95px;
    margin-top: 13px;
}

.input{
    width: 160px;
    height: 23px;

}
#search-btn{
    width: 70px;
    height: 23px;
    margin-left: 6px;
    background-color: aliceblue;
    border: none;
}


.nav .right-side-li a{
    color: rgb(248, 155, 16);
    padding-left: 12px;
}
.nav a:hover{
    color:rgb(236, 166, 61);
    
    
}
.nav .right-side-li a:hover{
    color:rgb(255, 255, 255)
    
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 6%;
    top: 23px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}





@media  (max-width:768px) {

    .head{
        background-color: aliceblue;
        align-items: center;
        justify-content: center;
        /* position: fixed; */
    }
    .head-height{
        
        height: 300px;
    }


    .right-side-bar{
        align-self: flex-end;
        position: relative;
        right: 100px;
        width: 20px;

    }
    .right-side-bar .input{
        width: 90px;
    }
    .right-side-li a{
        margin-left: -9px;
    }
    

    .nav li a{
        /* display: block; */
        float: unset;
        color: aliceblue;
        
       
    }
    .v-class-resp{
        opacity: 0;
    }


    .burger{
        display:block;
        cursor: pointer;
    }



}
   
    