{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My list</title>
    <link rel="stylesheet" href="{% static "/css/mylist.css" %}">
</head>
<body>
    {% include "header.html" %}
    
<div class="main-container">

  <div class="sub-container">
    <div class="card">
      <img  class="img" src="https://wallpaperaccess.com/thumb/163310.jpg">
      <div class="container">
        <h4><b>Naruto</b></h4>
        <p>Story of young boy</p>
      </div>
    </div>

    <div class="card">
      <img class="img" src="https://wallpaperaccess.com/full/866315.jpg" alt="Avatar" >
      <div class="container">
        <h4><b>Death Note</b></h4>
        <p>Mystry thriller,psycholical</p>
      </div>
    </div>

    <div class="card">
      <img  class="img" src="https://wallpaperaccess.com/full/36626.jpg" alt="Avatar" >
      <div class="container">
        <h4><b>Attack On Titan</b></h4>
        <p>Horror Adventure thriller</p>
      </div>
    </div>


    <div class="card">
      <img class="img" src="https://wallpaperaccess.com/full/1408869.jpg" alt="Avatar" >
      <div class="container">
        <h4><b>Vinland saga</b></h4>
        <p>Adventure Thriller</p>
      </div>
    </div>

    <div class="card">
      <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ1RFmMCiPy3t_zLVidmdZ1gyiFL21_TarpT5XNLRfZriBVRqktfCOkmQnC46HZt7Qn7w&usqp=CAU" alt="Avatar" >
      <div class="container">
        <h4><b>Monster</b></h4>
        <p>Psycholical Thriller</p>
      </div>
    </div>


  </div>

    
   

      <div class="sub-container">

        <div class="card">
          <img  class="img" src="https://wallpaperaccess.com/thumb/163310.jpg">
          <div class="container">
            <h4><b>Naruto</b></h4>
            <p>Story of young boy</p>
          </div>
        </div>
  
        <div class="card">
          <img class="img" src="https://wallpaperaccess.com/full/866315.jpg" alt="Avatar" >
          <div class="container">
            <h4><b>Death Note</b></h4>
            <p>Mystry thriller,psycholical</p>
          </div>
        </div>
  
        <div class="card">
          <img  class="img" src="https://wallpaperaccess.com/full/36626.jpg" alt="Avatar" >
          <div class="container">
            <h4><b>Attack On Titan</b></h4>
            <p>Horror Adventure thriller</p>
          </div>
        </div>
  
  
        <div class="card">
          <img class="img" src="https://wallpaperaccess.com/full/1408869.jpg" alt="Avatar" >
          <div class="container">
            <h4><b>Vinland saga</b></h4>
            <p>Adventure Thriller</p>
          </div>
        </div>
  
        <div class="card">
          <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ1RFmMCiPy3t_zLVidmdZ1gyiFL21_TarpT5XNLRfZriBVRqktfCOkmQnC46HZt7Qn7w&usqp=CAU" alt="Avatar" >
          <div class="container">
            <h4><b>Monster</b></h4>
            <p>Psycholical Thriller</p>
          </div>
        </div>
  

      </div>


      <div class="sub-container">

        <div class="card">
          <img  class="img" src="https://wallpaperaccess.com/thumb/163310.jpg">
          <div class="container">
            <h4><b>Naruto</b></h4>
            <p>Story of young boy</p>
          </div>
        </div>
  
        <div class="card">
          <img class="img" src="https://wallpaperaccess.com/full/866315.jpg" alt="Avatar" >
          <div class="container">
            <h4><b>Death Note</b></h4>
            <p>Mystry thriller,psycholical</p>
          </div>
        </div>
  
        <div class="card">
          <img  class="img" src="https://wallpaperaccess.com/full/36626.jpg" alt="Avatar" >
          <div class="container">
            <h4><b>Attack On Titan</b></h4>
            <p>Horror Adventure thriller</p>
          </div>
        </div>
  
  
        <div class="card">
          <img class="img" src="https://wallpaperaccess.com/full/1408869.jpg" alt="Avatar" >
          <div class="container">
            <h4><b>Vinland saga</b></h4>
            <p>Adventure Thriller</p>
          </div>
        </div>
  
        <div class="card">
          <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ1RFmMCiPy3t_zLVidmdZ1gyiFL21_TarpT5XNLRfZriBVRqktfCOkmQnC46HZt7Qn7w&usqp=CAU" alt="Avatar" >
          <div class="container">
            <h4><b>Monster</b></h4>
            <p>Psycholical Thriller</p>
          </div>
        </div>
  

      </div>
     
     
</div>

    {% include "footer.html" %}
</body>
</html>